## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Ans:
#### Database:
- A **database** is a *collection of structured data* that is stored and managed on a computer system.
- It is designed to *store*, *retrieve*, and *update* large amounts of data into computer's memory, while providing mechanisms for *controlling access* to that data.

#### SQL:
- **SQL** stands for *Structured Query Language*.
- It is a standard *programming language* used for *managing* and *manipulating* relational databases.
- SQL allows users to define, create, and modify database structures, as well as insert, update, and retrieve data from a database.

#### NoSQL databases:
- These databases use a non-relational approach to store and manage data.
- Mainly used for storing large amount of semi-structured and unstructured data.
- They are highly flexible and scalable.
- Used in bigdata and real-time applications.
- Eg: MongoDB, Cassandra

## Q2. What is DDL? Explain why `CREATE`, `DROP`, `ALTER`, and `TRUNCATE` are used with an example.

### Ans:
#### DDL:
- Stands for *Data Definition Language*.
- Contains commands to *create* and *modify* database objects such as tables, indexes, and views.
- `CREATE TABLE`, `ALTER TABLE`, `TRUNCATE TABLE` and `DROP TABLE`

#### `CREATE TABLE`
- It is used to *create* new database objects, such as tables, indexes, views, and stored procedures.
- eg: `CREATE TABLE customers (id INT PRIMARY KEY, name VARCHAR(50), email VARCHAR(100));`

#### `ALTER TABLE`
- It is used to *modify* existing database objects, such as table's columns, indexes, and constraints.
- eg: `ALTER TABLE customers ADD COLUMN phone VARCHAR(20);`

#### `TRUNCATE TABLE`
- It is used to *remove* all data from a table, while *keeping the table structure* intact.
- eg: `TRUNCATE TABLE customers;`

#### `DROP TABLE`
- It is used to *remove* database objects, such as tables, indexes, views, and stored procedures.
- eg: `DROP TABLE customers;`

## Q3. What is DML? Explain `INSERT`, `UPDATE`, and `DELETE` with an example.

### Ans:
#### DML:
- Stands for *Data Manipulation Language*.
- Contains commands to *insert*, *update*, and *delete* data from tables.
- `INSERT`, `UPDATE` and `DELETE`

#### `INSERT`
- It is used to *add new rows* of data into a table.
- eg: to insert customer details into customers table, we use:
    - `INSERT INTO customers (name, email) VALUES ('Sasi Kamal', 'sasi@example.com');`

#### `UPDATE`
- It is used to *modify* existing rows of data in a table.
- eg: to edit the email of a particular customer, we select the customer by its name, we write:
    - `UPDATE customers SET email = 'sasi@example.com' WHERE name = 'Sasi Kamal';`

#### `DELETE`
- It is used to *remove* rows of data from a table.
- eg: to delete a particular customer, we write:
    - `DELETE FROM customers WHERE name = 'Sasi Kamal';`

## Q4. What is DQL? Explain `SELECT` with an example.

### Ans:
#### DQL:
- Stands for *Data Query Language*.
- Contains commands to *retrieve* data from tables.
- The `SELECT` command.

#### `SELECT`
- It is used to *retrieve data* from one or more tables in a SQL database.
- We construct a *SELECT statement* in order to query a database for retrieving data.
- It is constructed using the `SELECT` command followed by other SQL Clauses.
- eg: To fetch all the records from the customer table, we use: 
    - `SELECT * FROM customers;`

## Q5. Explain Primary Key and Foreign Key.

### Ans:
#### Primary Key:
- It is a *column* or *set of columns* in a table that *uniquely identifies each row* in the table.
- It is used to enforce *data integrity* and ensure that *each row* in the table is *unique*.

#### Foreign Key:
- It is a *column* or *set of columns* in one table that *refers to the primary key of another table*.
- It is used to establish *relationships* between tables and enforce *referential integrity*.

## Q6. Write a python code to connect MySQL to python. Explain the `cursor()` and `execute()` method.

### Ans:
#### Connect to MySQL using Python:
- First, we need to install **mysql-connector-python**, using
    - `pip install mysql-connector-python`

In [4]:
# Import the `mysql.connector` module
import mysql.connector

In [5]:
# Establish a connection by creating a *connection* object
con = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="new_db1"
)

In [9]:
# Create a *cursor* object to interact with the database
cursor = con.cursor()

In [10]:
# Execute SQL queries using the `execute()` method of the cursor object
cursor.execute("SELECT * FROM students")

In [11]:
# print all the rows collected in the curson object
for row in cursor:
    print(row)

(1, 'Sasi', 33, '8972574345')
(2, 'Lisa', 31, '9434979229')
(3, 'Riki', 20, '8389885476')
(4, 'Niki', 25, '9434679339')

In [12]:
# to close the db connection, after its use
cursor.close()
con.close()

#### `cursor()`:
- It is used to create an *object* that could act as an *intermediary* between Python code and  MySQL database.
- It acts as a *pointer* to the *result set* of a query.
- It *keeps track* of the current row in the result set.
- It allows us to *fetch* data *one row at a time*.

#### `execute()`:
- It is used to execute an sql statement on a mysql database, using the cursor object.
- It takes an SQL statement as a string argument.

## Q7. Give the order of execution of SQL clauses in an SQL query.

### Ans:
#### Order of execution of SQL clauses are as follows:
- `FROM` clause
- `WHERE` clause
- `GROUP BY` clause
- `HAVING` clause
- `SELECT` clause
- `ORDER BY` clause