In [1]:
import pandas as pd

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
data_sr = pd.Series([4, 8, 15, 16, 23, 42])

In [3]:
print(data_sr)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
num_list = [9, 5, 1, 7, 12, 8, 23, 11, 19, 21]

In [5]:
num_list_sr = pd.Series(num_list)

In [6]:
print(num_list_sr)

0     9
1     5
2     1
3     7
4    12
5     8
6    23
7    11
8    19
9    21
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:
|Name|Age|Gender|
|:---:|:---:|:---:|
|Alice|25|Female|
|Bob|30|Male|
|Claire|27|Female|

Then, print the DataFrame.

In [7]:
data_table = {
    "Name" : ["Alice", "Bob", "Claire"],
    "Age" : [25, 30, 27],
    "Gender" : ["Female", "Male", "Female"],
}

In [8]:
data_table_df = pd.DataFrame(data_table)

In [9]:
data_table_df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### Ans:
- #### Series:
    - It's a 1D array-like data structure in Pandas.
    - It stores data values serially in a columnar form.
    - It contains a default index column that labels each element.
    - It can store any type of data such as string, integer, float, python objects, etc.
- #### Dataframe:
    - It's a 2D table-like data structure in Pandas.
    - It stores data values in a tabular form.
    - It also contains a default index column that labels each row.
    - It can be thought of as a collection of series objects.

In [15]:
# create a demo series
s = pd.Series([1, 2, 3, 4, 5, 6])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [16]:
# create a demo dataframe
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})
print(df)

   A  B  C
0  1  3  5
1  2  4  6

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

### Ans:
- Some common functions to manipulate data in a Pandas Dataframe:
    - `head()` and `tail()`
    - `describe()`
    - `sort_values()`
    - `loc[]` and `iloc[]`
    - `drop()`
    - `apply()`

In [25]:
# use of `.sort_values()`
data_table_df.sort_values(by= "Age")

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

In [26]:
# use of `apply()`
df.apply(lambda x: x**2, axis= 0)

   A   B   C
0  1   9  25
1  4  16  36

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### Ans:
- All of them are mutable in nature.  Their contents can be modified after they have been created.
- We can change the values of a Series or Dataframe by assigning new values to specific elements or by using methods like `replace()` or `fillna()`
- We can also add or remove columns from a dataframe by using methods like `append()` or `concat()` and `drop()` or `del`

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:
# create a series for names
name_sr = pd.Series(["Alice", "Bob", "Claire"])
name_sr

0     Alice
1       Bob
2    Claire
dtype: object

In [28]:
# create a series for ages
age_sr = pd.Series([25, 30, 27])
age_sr

0    25
1    30
2    27
dtype: int64

In [29]:
# create a series for gender
gender_sr = pd.Series(["F", "M", "F"])
gender_sr

0    F
1    M
2    F
dtype: object

In [31]:
# create a dataframe from the above series
sr_to_df = pd.DataFrame({
    "Name" : name_sr,
    "Age" : age_sr,
    "Gender" : gender_sr,
})

In [32]:
sr_to_df

     Name  Age Gender
0   Alice   25      F
1     Bob   30      M
2  Claire   27      F