## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
- [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [18]:
# the given list of tuples
cricketers = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [31]:
sorted_list1 = sorted(cricketers, key = lambda x: x[1])

In [28]:
print(sorted_list1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# the given list
int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
# lambda function for finding squares
find_sqr = lambda x: x ** 2

In [36]:
# implementation of map()
list(map(find_sqr, int_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
- Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [37]:
# the given list
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
tuple(map(lambda x: str(x), num_list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [63]:
# list containing numbers from 1 to 25.
n_list = list(range(1, 26))

In [43]:
from functools import reduce

In [65]:
reduce(lambda x, y : x * y, n_list)

15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
- [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [66]:
# the given list
given_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [68]:
list(filter(lambda x: x % 2 == 0 and x % 3 == 0, given_list))

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
- ['python', 'php', 'aba', 'radar', 'level']

In [70]:
# the given list of strings
str_list = ['python', 'php', 'aba', 'radar', 'level']

In [71]:
list(filter(lambda string: string[::1] == string[::-1], str_list))

['php', 'aba', 'radar', 'level']